li {
}
.listItem {
  font-weight: 500;
  color: #4830f0;
}

.list {
  width: 400px;
  text-align: right;
  margin: 0 auto;
  /* padding-right: 20px; */
}
.btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to left, #b5ef9e 0%, #4830f0 51%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.btn:hover {
  background-position: right center;
}
